<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :category, style: "display: block", class:"form-label" %>
    <%= form.select :category_id, options_for_select(@categories.collect { |cat| [cat.name, cat.id]}), class:"form-control" %>
  </div>

  <div>
    <%= form.label :name, style: "display: block", class:"form-label" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div>
    <%= form.label :body, style: "display: block", class:"form-label" %>
    <%= form.text_area :body, class:"form-control" %>
  </div>

  <div>
    <%= form.label :deadline, style: "display: block", class:"form-label" %>
    <%= form.datetime_field :deadline, class:"form-control" %>
  </div>


  <div>
    <%= form.submit class:"btn btn-primary mt-2" %>
  </div>
<% end %>
